nav {
    height: 50px;
    width: 100%;
    background-color: #6C6C6C;
    padding-top: 20px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.input {
    box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.4);
    border: 0;
    background-color: #6C6C6C;
    margin-right: 15px;
    height: 20px;
    width: 200px;
    color: white;
}

.input::placeholder {
    color: rgb(219, 219, 219);
}

input:focus {
    outline: none !important;
    box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.4);
    border: 0;
    background-color: #6C6C6C;
    margin-right: 15px;
    height: 20px;
    width: 200px;
    color: white;
}

select {
    box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.4);
    border: 0;
    background-color: #6C6C6C;
    margin-right: 15px;
    height: 20px;
    width: 200px;
    color: white;
}

select:focus {
    outline: none !important;
    border: 0;
}

button {
    background-color: #6C6C6C;
    box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.4);
    color: white;
    border: 0;
    height: 20px;
    width: 75px;
}

button:hover {
    background-color: white;
    box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.2);
    color: #6C6C6C;
    border: 0;
    height: 20px;
    width: 75px;
    cursor: pointer;
    transition-duration: 300ms;
}