.container {
    margin-top: 115px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(6, 14, 74, 0.75);
    border-radius: 15px;
    padding-top: 15px;
}

.botonesDireccion {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .botonesDireccion {
        display: flex;
        flex-direction: column-reverse;
    }
}