.tarjeta {
    box-shadow: rgba(87, 86, 86, 0.8) 0px 18px 50px -10px;
    height: 320px;
    width: 300px;
    transition-duration: 300ms;
    margin: 20px;
    display: inline-block;
}

.tarjeta:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 300ms;
    cursor: pointer;
}

img {
    height: 120px;    
}

.tarjeta h1 {
    text-shadow: 2px 2px 2px rgba(195, 195, 195, 0.411);
    color: rgb(255, 253, 233);
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    margin-top: 20px;
}

.tarjeta h2 {
    margin: 10px;
    color: #bbbbbd;
    font-size: 20px;
    padding: 0;
    margin-bottom: 35px;
}