.boton {
    background-color: #060E4B;
    box-shadow: 0px 0px 6px 0px #ECF1C8;
    color: #ECF1C8;
    border: 0;
    border-radius: 2px;
    width: 100px;
    height: 40px;
    transition-duration: 300ms;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.boton:hover {
    background-color: #ECF1C8;
    box-shadow: 0px 0px 6px 0px #ECF1C8;
    border-radius: 2px;
    color: #060E4B;
    border: 0;
    width: 100px;
    cursor: pointer;
    transition-duration: 300ms;
}